@tailwind base;
@tailwind components;
@tailwind utilities;

/* FILEPOND */

@media (min-width: 30em) {
    .filepond--item {
      width: calc(50% - 0.5em);
    }
  }
  
  @media (min-width: 50em) {
    .filepond--item {
      width: calc(33.33% - 0.5em);
    }
  }
  
  .filepond--panel-root {
    background-color: var(--mantine-color-dark-4) !important;
  }
  
  .filepond--drop-label {
    color: red var(--mantine-color-dark-1) !important;
  }
  
  /* TYPOGRAPHY STYLES PROVIDER */
  .mantine-TypographyStylesProvider-root {
    font-size: 14px !important;
  }
  
  .mantine-TypographyStylesProvider-root p {
    margin-bottom: 10px;
  }
  
  .mantine-TypographyStylesProvider-root p:last-of-type {
    margin-bottom: 0;
  }
  
  
  /* MEDIA QUERIES */
  
  /* Extra Small (xs) - 576px and below */
  @media (max-width: 576px) {
    /* Your CSS rules for extra small screens go here */
  }
  
  /* Small (sm) - 768px and below */
  @media (max-width: 768px) {
    .root-container {
      padding: 0 !important;
    }
    /* Your CSS rules for small screens go here */
  }
  
  /* Medium (md) - 992px and below */
  @media (max-width: 992px) {
    /* Your CSS rules for medium screens go here */
    .mantine-Card-root {
      border: none !important;
      border-radius: 0px !important;
    }
  }
  
  /* Large (lg) - 1200px and below */
  @media (max-width: 1200px) {
    /* Your CSS rules for large screens go here */
  }
  
  /* Extra Large (xl) - 1408px and below */
  @media (max-width: 1408px) {
    /* Your CSS rules for extra large screens go here */
  }
  
  /* class to hide element */
  .hidden-element {
    visibility: hidden;
  }
  
  /* responsive styles */
  .hidden-md {
    @media (max-width: $mantine-breakpoint-md) {
      display: none;
    }
  }
  
  
  /* disable focus ring */
  
  .m-8fb7ebe7 {
    transition: none;
  
  }
  
  .m-8fb7ebe7:focus-within {
    outline: transparent;
    border-color: var(--mantine-color-gray-7);
  }
  
  
  [data-active="true"] .mantine-SegmentedControl-label  {
    /* background: linear-gradient(45deg, #c2255c 0%, #f08c00 100%) !important; */
    /* background-color: #c2255c  !important; */
  }
  
  

  pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 15px;
}