.voteButton {
  color: var(--mantine-color-gray-5) !important;
}

.voteButton {
}

.voteButtonWrapper:hover .voteButton {
  color: var(--mantine-color-yellow-6);
}

.votedButton {
  color: var(--mantine-color-yellow-6);
}
